################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*/netcoreapp2.1/*
*/netcoreapp2.0/*
*/obj/*
*/bin/*
!*/bin/Debug
!*/bin/Release
!*/obj/Debug
!*/obj/Release
/Quotable/.vs/*
*.ide
*.ide-shm
*.ide-wal
*.targets
*.props
*.json
*.cache
*.pdb
*.dll
/Quotable/quotable.core/obj/Debug/netstandard2.0/*
/Quotable/quotable.console/obj/Debug/netcoreapp2.1/*
/Quotable/quotable.core/bin/Debug/netstandard2.0/*
/Quotable/quotable.console/bin/Debug/netcoreapp2.1/*
*.txt
